[user]
  name = Will Reppun
  email = "(none)"
[color]
  ui = true
[push]
  default = current
[grep]
  extendRegexp = true
  lineNumber = true
[alias]
  g = grep --break --heading
  ks = log --graph --decorate --oneline
  ksa = log --graph --decorate --oneline --all
  k = !git --no-pager log --color --graph --decorate --pretty=format:\"%C(yellow)%h%Creset%C(auto)%d %s %Cblue<%an> %Cgreen(%cr)\" | emojify | less --RAW-CONTROL-CHARS
  ka = !git --no-pager log --color --graph --decorate --pretty=format:\"%C(yellow)%h%Creset%C(auto)%d %s %Cblue<%an> %Cgreen(%cr)\" --all | emojify | less --RAW-CONTROL-CHARS
[core]
	autocrlf = input
